<article class="blog-post">
  <h2 class="display-5 link-body-emphasis mb-1"><%= link_to blog.title, blog %></h2>
  <p style="font-size:20px;"><%= blog.topic.title %></p>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
  <p>
  <% if logged_in?(:admin) %>
    <%= link_to blog.status.capitalize, toggle_status_blog_path(blog) %> /
    <%= link_to "Edit this blog", edit_blog_path(blog) %> /
    <%= link_to "Destroy this blog", blog_path(blog), method: :delete %> /
  <% end %>
  </p>

  <br>
  <p><%= blog.body %></p>
</article> 
