<div class="login">
  <div class="card mb-3">
    <div class="card-body">

      <h2 class="my-card">Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3 my-card">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="mb-3 my-card">
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary w-100" %>
        </div>
      <% end %>

      <div class="mb-3 my-card auth-links">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>