<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>About</h4>
          <p class="text-body-secondary w-75">As a passionate software engineer, I thrive on turning complex problems into elegant solutions. With a background in computer science and years of hands-on experience, I've honed my skills in various programming languages and frameworks.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Explore</h4>
          <ul class="list-unstyled">
            <li><%= link_to "Home", root_path, class:"text-white text-decoration-none" %></li>
            <li><%= link_to "About", about_path, class:"text-white text-decoration-none"  %></li>
            <li><%= link_to "Contact", contact_path, class:"text-white text-decoration-none"  %></li>
            <li><%= link_to "Blog", blogs_path, class:"text-white text-decoration-none"  %></li>
            <li><%= link_to "Portfolio", portfolios_path, class:"text-white text-decoration-none" %></li>
            <li><%= login_helper 'text-white' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <strong><%= link_to "Abdullah Said", portfolios_path, class:"navbar-brand d-flex align-items-center" %></strong>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
