<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title><%= @page_title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="<%= @seo_keywords %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "favicons/favicon.ico" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "blogs", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

<body>

  <%= render 'shared/blog_nav' %>

  <main class="container">
    <div class="row g-5">
         
      <%= render 'shared/blog_masthead' %> 
    
      <div class="col-md-8">    
        <%= yield %>
      </div>  

      <%= render 'shared/blog_sidebar' %>


      <%= render 'shared/blog_footer' %>

    </div>
  </main>    
</body>
</html>
