<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "favicons/favicon.ico" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "portfolios", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <%= render 'shared/portfolio_nav' %>

    <main>

      <%= render 'shared/portfolio_masthead' unless logged_in?(:admin) %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>

    
    </main>

    <%= render 'shared/portfolio_footer' %>

  </body>
</html>
